body {
    margin: auto;
    max-width: 960px;
    font-family: 'Roboto', sans-serif;
}

header {
    min-height: 110px;
}

header h1 {
    margin-top: 0;
    font-size: 30px;
    color: #616161;
    min-height: 60px;
    background: #71A6C4;
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: 0;
}

nav {
    min-height: 50px;
    background: #F3F3F3;
    position: relative;
}

nav div a {
    display: block;
    text-decoration: none;
    background: #EFD965;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
    color: black;
    font-weight: bold;
}

nav div a:hover {
    background: #F3F3F3;
}


a.active {
    background: #C4C4C4;
}

nav form{
    margin-top: 5px;
    float: right;
    margin-right: 10px;
    box-sizing: border-box;
}

nav form input[type=text] {
    font-size: 14px;
    padding: 5px;
}

button#search {
    display: block;
    float: right;
    font-size: 19px;
    padding: 3px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

button#date_search {
    display: block;
    float: right;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
}


table {
    margin-top: 10px;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

table, tr, td {
    padding: 5px;
    border: 1px solid black;
}

thead tr td {
    background-color: #C4C4C4;
    font-weight: bold;
}

#add_button {
    height: 30px;
    background-color: #EFD965;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;

}

#add_button a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

#add_button:hover {
    background-color: #F3F3F3;
}

.delete_button, .edit_button {
    font-size: 20px;
    cursor: pointer;
}


.delete_button:hover {
    background-color: #FE5A5A;
}

.edit_button:hover {
    background: #EFD965;
}

div.edit {
    position: relative;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

div.edit form {
    border: 1px solid black;
    top: 10px;
    left: 50%;
}

p.form_title {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #C4C4C4;
    border-bottom: 1px solid black;
}

div.form_element {
    padding: 5px 5px;
    font-size: 1.2em;
    font-weight: bold;
}

div.form_element input {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 2px;
}

div.form_element select {
    display: inline-block;
    float: right;
    width: 227px;
    padding: 2px;
}


div.form_buttons {
    margin: 10px auto;
    text-align: center;
}

div.form_buttons input {
    width: 30%;
    cursor: pointer;
    border: 2px solid black;
    font-size: 1.2em;
}


#save {
    background-color: green;
}

#cancel {
    background-color: #FE5A5A;
}

#save:hover, #cancel:hover {
    background-color: #F3F3F3;
}

table tbody tr td a {
    text-decoration: none;
    color: black;
}

table tbody tr td a:hover {
    color: #C4C4C4;
}