<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/basic.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>University Departments</h1>
        <nav>
            <div class = "nav">
                <a
                   href="{{ url_for('departments.get_departments') }}">
                    Departments</a>
            </div>
            <div class = "nav">
                <a href=" {{ url_for('employees.get_employees' )}}">Employees
                </a>
            </div>
            {% block search %} {% endblock %}
        </nav>
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
</body>
</html>