{% extends 'basic.html' %}

{% block title %}Add employee - University Departments{% endblock %}

{% block main %}
        <div class="edit">
            <p style="color: red; font-weight: bold; font-size: 1.5em;">{{ error }}</p>
            <form method="post" action="/create_employee">
                <p class="form_title">Add employee</p>
                <div class="form_element">
                    <label for="first_name">First name:</label>
                    <input type="text" name="first_name" id="first_name" required>
                </div>
                <div class="form_element">
                    <label for="last_name">Last name:</label>
                    <input type="text" name="last_name" id="last_name" required>
                </div>
                <div class="form_element">
                    <label for="department_name">Department name:</label>
                    <select name="department_name" id="department_name" required>
                        {% for department in departments %}
                            <option value="{{ department.name}}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form_element">
                    <label for="birth_date">Date of birth:</label>
                    <input type="date" name="date_of_birth" id="birth_date" required>
                </div>
                <div class="form_element">
                    <label for="salary">Salary:</label>
                    <input type="number" id="salary" name="salary" min=0 required>
                </div>
                <div class="form_buttons">
                    <a href="{{ url_for('employees.get_employees') }}">
                        <input type="button" id="cancel" value="Cancel">
                    </a>
                    <input type="submit" id="save" value="Save">
                </div>

            </form>
        </div>
{% endblock %}