{% extends 'basic.html' %}

{% block title %}Departments - University Departments{% endblock %}

{% block search %}
    <form action="departments" method="post">
        <input type="text" name="search_name" placeholder="Search...">
        <button type="submit" id="search"><i class="fa fa-search"></i></button>
    </form>
{% endblock %}

{% block main %}
    {% if result %}
        <table>
            <thead>
            <tr>
                <td>Department name</td>
                <td>Department address</td>
                <td>Number of employees</td>
                <td>Average salary</td>
                <td colspan="2">
                    <button type="button" id="add_button">
                        <a href= "{{ url_for('department.create_department') }}">Add department</a>
                    </button>
                </td>
            </tr>
            </thead>
            {% for department in result %}
            <tbody>
            <tr>
                <td><a href="{{ url_for('employees.get_employees', department_name=department.name) }}">
                    {{ department.name }}</a></td>
                <td>{{ department.address}}</td>
                <td>{{ department.count_employees}}</td>
                <td>{{ department.avg_salary}}</td>
                <td>
                    <a href="{{ url_for('department.edit_department', name=department.name) }}">
                        <button type="button" class="edit_button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <form method="post" action="departments/delete" onsubmit="return confirm('Please confirm delete');">
                            <input type="hidden" name="name" value="{{department.name}}">
                            <button type="submit" class="delete_button">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                    </form>

                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    {% else %}
        <h2>There are no departments in the app</h2>
    {% endif%}
{% endblock %}