{% extends 'basic.html' %}

{% block title %}Edit employee - University Departments{% endblock %}

{% block main %}
        <div class="edit">
            <p style="color: red; font-weight: bold; font-size: 1.5em;">{{ error }}</p>
            <form method="post" action="/edit_employee">
                <input type="hidden" name="id" value="{{ employee.id }}">
                <p class="form_title">Edit employee</p>
                <div class="form_element">
                    <label for="first_name">First name:</label>
                    <input type="text" name="first_name" id="first_name" value="{{ employee.first_name }}" required>
                </div>
                <div class="form_element">
                    <label for="last_name">Last name:</label>
                    <input type="text" id="last_name" name="last_name" value="{{ employee.last_name }}" required>
                </div>
                <div class="form_element">
                    <label for="department_name">Department name:</label>
                    <select name="department_name" id="department_name" required>
                        {% for department in departments %}
                            {% if department.name == employee.department_name %}
                                <option value="{{ department.name}}" selected="selected">{{ department.name }}</option>
                            {% else %}
                                <option value="{{ department.name}}">{{ department.name }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                </div>
                <div class="form_element">
                    <label for="birth_date">Date of birth:</label>
                    <input type="date" id="birth_date" name="date_of_birth"
                           value="{{ employee.date_of_birth}}" required>
                </div>
                <div class="form_element">
                    <label for="salary">Salary:</label>
                    <input type="number" id="salary" name="salary" min=0 value="{{ employee.salary }}" required>
                </div>
                <div class="form_buttons">
                    <a href="{{ url_for('employees.get_employees') }}">
                        <input type="button" id="cancel" value="Cancel">
                    </a>
                    <input type="submit" id="save" value="Save">
                </div>

            </form>
        </div>
{% endblock %}