{% extends 'basic.html' %}

{% block title %}Edit department - University Departments{% endblock %}

{% block main %}
    <div class="edit">
        <p style="color: red; font-weight: bold; font-size: 1.5em;">{{ error }}</p>
        <form action="/edit_department" method="post">
            <p class="form_title">Edit department</p>
            <div class="form_element">
                <label for="department_name">Department name:</label>
                <input type="text" id="department_name" name="name" value="{{ department.name }}" readonly="readonly">
            </div>
            <div class="form_element">
                <label for="department_address">Department address:</label>
                <input type="text" id="department_address" name="address" value="{{ department.address }}" required>
            </div>
            <div class="form_buttons">
                <a href="{{ url_for('departments.get_departments') }}"><input type="button" id="cancel"
                                                                             value="Cancel"></a>
                <input type="submit" id="save" value="Save">
            </div>

        </form>
    </div>
{% endblock %}