{% extends 'basic.html' %}

{% block title %}Employees - University Departments {% endblock %}

{% block search %}
    <form action="/employees" method="post">
        <label for="begin_date">Start date:</label>
        <input type="date" name="begin_date" id="begin_date">
        <label for="end_date">End date:</label>
        <input type="date" name="end_date" id="end_date">
        <button type="submit" id="date_search"><i class="fa fa-search"></i></button>
    </form>
{% endblock %}


{% block main %}
    {% if result %}
        <table>
            <thead>
                <tr>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Department name</td>
                    <td>Date of birth</td>
                    <td>Salary</td>
                    <td colspan="2">
                        <button type="button" id="add_button">
                            <a href = "{{ url_for('employee.get_create_employee') }}">Add employee</a>
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for employee in result %}
                    <tr>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.last_name }}</td>
                        <td>{{ employee.department_name }}</td>
                        <td>{{ employee.date_of_birth }}</td>
                        <td>{{ employee.salary }}</td>
                        <td>
                            <a href="{{ url_for('employee.get_edit_employee', id=employee.id) }}">
                                <button type="button" class="edit_button">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="employees/delete"
                                  onsubmit="return confirm('Please confirm delete');">
                                    <input type="hidden" name="id" value="{{ employee.id }}">
                                    <button type="submit" class="delete_button">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>There are no such employees in the app</h2>
    {% endif%}
{% endblock %}
